{{#each this}}
<li class="event">
    <div class="event__card">
        <img src="" alt="" class="event__image">
    </div>
    <div class="event__info">
        <span class="event__name"></span>
        <p class="event__date"></p>
        <div class="event__place">
            <p class="event__icon">
                <svg width="14px" height="20">
            </p>
        </div>
    </div>
</li>