$MonseratPosterName_color: #DC56C5;
$MonseratPosterInfo_color: #ffffff;
$InputPlaceholderText_color: #939393;

.flex__centering {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}