<!DOCTYPE html>
<section>
  <div class="header_beackground">
    <a class="header_logo" href="index.html"><img src="/src/images/logologoMob@1xw.webp" alt="logo"></a>
    <h1 class="header_title">FIND BEST EVENTS AROUND THE WORLD</h1>
      <div class="container">
        <form class="startSearch" id="search-form">
          <div>
            <input type="text" name="startQuery" autocomplete="off" placeholder="Start search"/>
            <svg class="svg_search" width="15" height="15">
              <use href="/src/images/Group.svg"></use>
            </svg>
          </div>
        </form>
        <div>
          <div class="choose_header">
            <span>Choose country</span>
          </div>
        </div>
      </div>    
  </div>
</section>
