<!DOCTYPE html>
<section>
  <div class="header_background">
    <div class="header_logo">
      <picture>
        <source
          srcset="/src/images/logoDesk.webp"
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="/src/images/logoTabl.webp"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="/src/images/logologoMob@1xw.webp"
          media="(min-width: 320px)"
          type="image/webp"
        />
        <img src="/src/images/logologoMob@1xw.webp" alt="" />
      </picture>
    </div>
    <h1 class="header_title">FIND BEST EVENTS AROUND THE WORLD</h1>
    <div class="container header-box">
      <form class="startSearch" id="search-form">
        <div>
          <input
            type="text"
            name="startQuery"
            autocomplete="off"
            placeholder="Start search"
          />
          <svg width="15" height="15">
            <use href="/src/images/icons.svg#icon-magnifying"></use>
          </svg>
        </div>
      </form>
      <div>
        <div class="choose_header">
          <span class="country-list">Choose country</span>
          <ul class="country-list-li"></ul>
          <svg class="svg_search" width="15" height="15">
            <use href="/src/images/icons.svg#icon-search"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
