
header{
    background: rgba(11, 11, 11, 0.5);;
}

.startSearch{
    width: 270px;
    height: 40px;
    left: 25px;
    top: 147px;
}

[name="startQuery"]{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

[name="chooseQuery"]{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.header_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #DC56C5;
}