.block {
  background-image: url('../images/bgbodyMob@1x.webp');

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: url('../images/bgbodyTab@1x.webp');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/bgbodyTab@2x.webp');
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url('../images/bgbodyDesc@1x.webp');
    margin-bottom: 80px;

    &::before {
      content: '';
      background-color: #212121;
      z-index: 4;
      position: absolute;
      width: 2px;
      height: 2340px;
      left: 115px;
      top: 175px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &::after {
      content: '';
      background-color: #212121;
      z-index: 4;
      position: absolute;
      width: 2px;
      height: 2511px;
      right: 115px;
      top: 0px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}

.js-event-list {
  position: relative;
  top: -40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 27px;
    grid-row-gap: 45px;
  }
  @media screen and (min-width: 1200px) {
    top: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 50px;
  }
}

.event {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.event__image:hover {
  transform: scale(1.15) rotate(2deg);
  -webkit-box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}


.event__image:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: 0.7;
  transition: opacity 0.3s;
  border-radius: inherit;
}

.event__image::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.event__image {
  width: 128px;
  height: 161px;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 50px 0px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 227px;
  }
}

.event__card::before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 108px;
  height: 101px;
  cursor: pointer;
  left: 33px;
  top: -13px;

  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 153px;
    height: 143px;
    left: 22px;
    top: -18px;
  }
  @media screen and (min-width: 1200px) {
    width: 153px;
    height: 143px;
    left: 45px;
    top: -18px;
  }
}

.event__info {
  @extend %flex__centering;
  flex-direction: column;
  flex-wrap: wrap;

  max-width: 128px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
}

.event__name {
  @extend %evtNameTPL;
  margin-bottom: 5px;
  cursor: pointer;
}

.event__date {
  @extend %evtNameTPL;
  color: $MonseratPosterInfo_color;
  font-weight: 400;
  width: auto;
  margin-bottom: 5px;
}

.event__place {
  @extend %evtPlaceTPL;
  max-width: 128px;
}

.event__svg {
  position: relative;
  fill: #ffffff;
  stroke: #ffffff;
}
