.modal {
  display: none;
  position: fixed;
  z-index: 55;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(1.5px);
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0px 17px 0px 12px;
  border: 1px solid #888;
  width: 272px;
  background: #fff2fd;
  border-radius: 150px 0px;
}

/* The Close Button */
.close {
  position: absolute;
  margin: 25px 25px;

  right: 0.1px;
}

///////////////////MODAL MARKUP STYLE//////////////////////////////
// .modal-content{
// }

.modal__image {
  object-fit: cover;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin: 75px 100px 18px 70px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal__item {
  text-align: center;
}

.modal__caption {
  margin-bottom: 5px;
  text-align: center;
  color: $MonseratPosterName_color;
}

.modal__description {
  @extend %modalNotes;

  margin-bottom: 10px;
}
.modal__price{
  @extend %modalNotes;
}

.modal__svg {
  background-image: url('.././images/ticket1.svg');
  fill: black;
  margin-right: 13px
}
.modal__buyBtn {
  @extend %modalNotes;

  margin: 10px auto 20px auto;
  background-color: #4c00fe;
  border-radius: 5px;
  padding: 9px 19px 11px 19px;
  font-weight: 500;
  color: #ffffff;
  width: 145px;
  height: 40px;
}
.modal__link {
  color: #fff;
}
.more__author {
  @extend %modalNotes;
  
  margin-bottom: 100px;
  cursor: pointer;
  padding: 10px 0px;
  margin-left: auto;
  margin-right: auto;
  color: #4c00fe;
  border: 1px solid #4c00fe;
  border-radius: 5px;
  font-weight: 500;
  width: 230px;
  height: 40px;
}
.modal__authorLink{
  

  font-weight: 500;
font-size: 16px;
line-height: 20px;
}