.modal {
  display: none; 
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: scroll; 
  background: rgba(32, 13, 29, 0.6); 
  backdrop-filter: blur(1.5px);
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 0px 17px 0px 12px;
  border: 1px solid #888;
  width: 272px; 
  height: 915px;
  background: #FFF2FD;
  border-radius: 150px 0px;
}

/* The Close Button */
.close {
  position: absolute;
  margin: 25px 25px;
  
  right: 0.1px;
}